<?xml version="1.0"?>
<configuration>
    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志级别 -->
    <logger name="cn" level="DEBUG"/>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="ch" level="off" />
</configuration>